@page "/orders"
@using ClientSide.Services.OrderService
@using global::Shared.DTOs
@inject IOrderService OrderService
@inject NavigationManager NavigationManager
@implements IDisposable

<h3>Orders</h3>

@if (_orders == null)
{
    @if (HasError)
    {
        <span class="loading-message__text">@ErrorMessage</span>
        <span class="loading-message__text">@ErrorCode</span>
    }
    else
    {
        <div class="loading-message">
            <div class="spinner-border text-primary" role="status">
            </div>
            <span class="loading-message__text">Loading Orders...</span>
        </div>
    }
}
else
{
    <PaginatedTable Route="orders"
                Items=_orders
                ColumnNames=_columnNames
                PropertyNames=_propertyNames
                CurrentPage=_currentPage
                PageCount=_pageCount
                PageSize=_pageSize />
}
