@page "/regions"
@using ClientSide.Data
@using ClientSide.Models
@inject IRegionService RegionService

<h3>Regions</h3>

@if (_regions == null)
{
    <div class="loading-message">
        <div class="spinner-border text-primary" role="status">
        </div>
        <span class="loading-message__text">Loading Regions...</span>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Region Description</th>
            </tr>
        </thead>
        <tbody>
            @{int index = 1;}
            @foreach (RegionViewModel region in _regions)
            {
                <tr>
                    <th scope="row">@(index++)</th>
                    <td>@region.RegionDescription</td>
                </tr>
            }
        </tbody>
    </table>
}
